aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
py-tgcalls==0.9.1
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto 
git+https://github.com/adityacheats/downloader@master
git+https://github.com/subinps/pyrogram@inline-m
search_engine_parser
pymongo[srv]==3.11.4
NumPy
glitch_this
opencv-python-headless
youtube-search
youtube-search-python==1.4.6
pypng
wheel
humanize
ytthumb
pypdf2
pyshorteners
ujson
